<div md-theme="default" class="home md-primary home-text">
  <img src="http://cdn.grid.fotosearch.com/CSP/CSP994/k15784952.jpg" alt="sorry did not load, but it was a picture of a newspaper">  
  <h1>Welcome to Good News/Bad News!</h1>
  <h4 style="text-align: center">Good News/Bad News is an app that filters your email through sentiment analysis, and allows you to sort emails in your inbox in ascending or descending order of positivity.</h4>
  <h3>You just have to ask yourself one question: do you want the bad news first, or the good news?</h3>
  <h2>To get started please log in.</h2>
  <form class="main-button" method="get" action="/hello">
    <input type="submit" value= "Login" class="md-raised md-button md-primary">
  </form>
</div>
